<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    

    <title>Review Results</title>

  </head>
  <body style="background-color: #6d6875;">

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href='../'>RateMyTA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto text-center">
                  <a class="nav-link" href='../search'>Search</a>
                  <a class="nav-link" href='../login'>Login</a>
                  <a class="nav-link" href='../signup'>Signup</a>
                </div>
              </div>
            </div>
          </nav>

        <div class="container text-center" style="margin-top: 70px;">
          <div class="row">
            <div class="col">
                <h1 style="font-family: 'Inter', sans-serif; font-size: 50px;" class="fw-bold mb-4">2/10</h1>
            </div>
            <div class="col-6">
                <h1 style="font-family: 'Inter', sans-serif; font-size: 50px;" class="fw-bold mb-4">Jaxson Waterstreet</h1>
            </div>
            <div class="col">
                <button type="button" class="btn btn-dark btn-lg" style="height: 100px;" href="new-review">Write a Review</button>
            </div>
          </div>
          <hr class="my-4" style="height: 3px; border: 3px">
        </div>
    

        <div class="container text-center">
            <div class="row">
                <div class="col-3" style="margin-top: 40px;">
                    <h1 style="font-family: 'Inter', sans-serif; font-size: 30px;" class="fw-bold mb-4">2 Reviews</h1>
                </div>
            </div>
        </div>

        <div class="p-3 mt-5 bg-dark text-white rounded-3 w-50 mx-auto">
            <div class="container">
                <h1>This guy eats chilly cheese dogs...</h1>
                <h5 class="mt-4">Course Code: DQ 469</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h5 class="mt-4">Rating: 2/10</h5>
           </div>
        </div>

        <div class="p-3 mt-5 bg-dark text-white rounded-3 w-50 mx-auto">
            <div class="container">
                <h1>Idk what to say bro...</h1>
                <h5 class="mt-4">Course Code: COOK 101</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h5 class="mt-4">Rating: 2/10</h5>
           </div>
        </div>

    <div class=" text-center mt-5 pt-5">
        <p class="fw-bold">©RateMyTA 2022</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
